
  .content {
    height: calc(100vh - 118px);
    overflow-y: scroll;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    padding: 0 20px;
  }
  
  .user {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .user-name {
    margin-left: 10px;
  }
  
  .ant-table-body {
    max-height: auto;
  }